



<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Hex Photos</title>
    <script src="/static/base_app/scripts/jquery.js"></script>
    <link rel="stylesheet" href="/static/base_app/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/base_app/styles/bootstrap.css"/>
    <link href="/static/base_app/styles/686tees.css" rel="stylesheet" type="text/css" />
    <link href="/static/base_app/styles/entypo.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css" />
    <script src ="/static/base_app/scripts/bootstrap.js"></script>
    <script src ="/static/base_app/scripts/jquery.form.js"></script>
    <script src ="/static/base_app/scripts/jquery.loadmodal.js"></script>




    

    

    <link rel="stylesheet" type="text/css" href="/static/shop\styles\base.css?23286651" />
  
  </head>
  <body>
  
      



      
 	
 


     
  
  
        
        

<div class="container">
  
  <!-- Site Top -->
  
  <div class="row">
  
    <div class="span12">
    
      <ul class="top-nav">



              <li class="dropdown">

   

        
        
      </ul>
    
    </div>
  
  </div>

  <!-- Header -->
  
  <div class="row">
  
    <div class="span4">
    

       

    
    </div>
  
    <div class="span4">
    
      <img src="/static/base_app/images/logo.png"/>
    
    </div>
  
    <div class="span4">
      
      <div class="row">
        
        <div class="span2 offset2 mini-basket">
          
          <p class="mini-basket-title"><a href="/shop/cart"><span class="entypo cart"></span>Cart</a></p>
          
          <div class="row">
            
            
                <i>"Making memories since 1985"</i>
                    
          
          </div>
          
        </div>
      
      </div>
      
    </div>
  
  </div>
  
  <!-- Menu -->
  
  <div class="row">
    
    <div class="span12">
    
      <ul class="main-nav clearfix">

        <li><a href="/shop/index">HexPhotos</a></li>
    
    
            
              <li>
                <a href=/shop/catalog/cameras>Cameras</a>
              </li>
              <li>
                <a href=/shop/catalog/video_cameras>Video Cameras</a>
              </li>
              <li>
                <a href=/shop/catalog/accessories>Accessories</a>
              </li>
              <li>
                <a href=/shop/catalog/rentals>Rental</a>
              </li>

       
      <form class="navbar-form" role="search" action = "/shop/search/">
    <div class="input-group">
      
        <input type="text" class="form-control" placeholder="Search" name= "search">
        </div>
        </form>


    <!--from original code-->
      </ul>
    
    </div>
    
  </div>

     
  <h1> </h1>
    

    
    

<!-- Basket -->
		<center>
		<h3>Oops! There was a problem with the page.
		<br>We're sorry for the inconvenience.
		<br>Please have a look around elsewhere and try again later. Thanks!</h3>
		</center>

	
			
		</div>
	
	</div>




