## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />
 
<%block name="content">
<br />
<br />
	<div class="span8 offset2">
		<div class="member-box">
			<center>
			<p class="buttons">
				<a href="/manager/user_details/new" class="btn btn-primary">New User</a>
				<a href="/manager/store_details/new" class="btn btn-primary">New Store</a>
				<br />
				<br />
				<a href="/manager/catalog_product_details/new" class="btn btn-primary">New Catalog Item</a>
				<a href="/manager/serialized_details/new" class="btn btn-primary">New Serialized Item</a>
				<br />
				<br />
				<a href="/manager/stocked_details/new" class="btn btn-primary">New Bulk Item</a><br />
			</p>
			</center>
		</div>
	</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

 <!--footer-->
<div class="row footer">
  
    <div class="span6">
    
      <ul class="footer-nav">
        
        <li><a href="/shop/terms">Terms &amp; Conditions</a></li>
        <li><a href="/shop/about">About Us</a></li>
        <li><a href="/shop/contact">Contact</a></li>
      </ul>
    
    </div>
  
    <div class="span6 footer-right">
    
      <p>
        &copy; HexPhotos
      </p>
    
    </div>
  
  </div>
  
</div>


    
  </div>

 
  

</%block>  