## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />

<%block name="content">
<br>
<br>
<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="${ STATIC_URL }base_app/images/pc-f2.jpg" alt="" />
      
    </div>
    <div class="item">
      <img src="${ STATIC_URL }base_app/images/im2.jpg" alt="" />
      
    </div>
    <div class="item">
      <img src="${ STATIC_URL }base_app/images/pc-f.jpg" alt="" />
      
    </div>
    <div class="item">
      <img src="${ STATIC_URL }base_app/images/p-ac1.jpg" alt="" />
      
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->





<div class="row">
    
    <div class="span12">
    
      <h1>Featured Products</h1>
    
    </div>
    
  </div>

  <!-- Product Listing -->
  
  <div class="row">
    
    <div class="span4 product-listing">
    
      <p class="title"><a href="/shop/details/11/">${p11.name}</a></p>
      
      <a href="/shop/details/11/"><img class="image" src="${ STATIC_URL}${p11.imagePath}" alt="" /></a>
      
      <p class="price">
        &dollar;${p11.price}
        <a class="btn btn-addcart btn-primary" href="/shop/add/11/"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="/shop/details/11/"><span class="entypo search"></span></a>
      </p>
      
    </div>
    
    <div class="span4 product-listing">
    
      <p class="title"><a href="/shop/details/3/">${p3.name}</a></p>
      
      <a href="/shop/details/3/"><img class="image" src="${ STATIC_URL}${p3.imagePath}" alt="" /></a>
      
      <p class="price">
         &dollar; ${p3.price}
        <a class="btn btn-addcart btn-primary" href="/shop/add/3/"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="/shop/details/3/"><span class="entypo search"></span></a>
      </p>
      
    </div>
    <div class="span4 product-listing">
    
      <p class="title"><a href="/shop/details/9/">${p9.name}</a></p>
      
      <a href="/shop/details/9/"><img class="image" src="${ STATIC_URL}${p9.imagePath}"alt="" /></a>
      
      <p class="price">
        &dollar; ${p9.price}
        <a class="btn btn-addcart btn-primary" href="/shop/add/9/"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="/shop/details/9/"><span class="entypo search"></span></a>
      </p>
    
      
    </div>
</div>
   


<!--footer-->
<div class="row footer">
  
    <div class="span6">
    
      <ul class="footer-nav">
        
        <li><a href="/shop/terms">Terms &amp; Conditions</a></li>
        <li><a href="/shop/about/">About Us</a></li>
        <li><a href="/shop/contact/">Contact</a></li>
      </ul>
    
    </div>
  
    <div class="span6 footer-right">
    
      <p>
        &copy; HexPhotos
      </p>
    
    </div>
  
  </div>
  
</div>


    
  </div>

 
  

</%block>  
