## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />
<%block name="content">
	<div class="row">
		
		<div class="span12">
			
			<div class="content-box">
			
				<h1>Terms and Conditions</h1>
			
				<h2>Terms</h2>
				
				<p>Aenean sit amet gravida sem, eu viverra diam. Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mollis sem nibh, ut euismod elit lobortis a. Curabitur blandit leo in mollis rutrum. Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque. Sed aliquam mi nec accumsan ornare. Nullam egestas euismod tellus. Nunc lacinia laoreet enim quis consectetur. Integer faucibus sapien nec interdum eleifend.</p>
				
				<h2>Conditions</h2>
				
				<p>Aenean sit amet gravida sem, eu viverra diam. Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mollis sem nibh, ut euismod elit lobortis a. Curabitur blandit leo in mollis rutrum. Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque. Sed aliquam mi nec accumsan ornare. Nullam egestas euismod tellus. Nunc lacinia laoreet enim quis consectetur. Integer faucibus sapien nec interdum eleifend.</p>
 </%block>